<div id="<%= dom_id comment %>">
  <p class="font-bold">
    <%= comment.title %>
  </p>

  <p class="my-5">
    <%= comment.hashtags.join(",") %>
  </p>

  <p class="my-5">
    <%= comment.body %>
  </p>

  <%= link_to 'Edit this comment', edit_article_comment_path(@article, comment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to 'Destroy this comment', article_comment_path(@article, comment), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
  <hr class="mt-6">
</div>
